venv/
env/
__pycache__/
*.py[cod]
*.so
*.log
*.tmp
*.bak
*.swp
.env
config.py
secrets.json
*.azure
*.aws
*.gcp
*.sqlite3
*.db
*.pdb
*.out
*.class
*.o
*.obj
.ipynb_checkpoints/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
node_modules/
package-lock.json
yarn.lock
migrations/
coverage/
pytest_cache/
nosetests.xml